.numberInputWrapper {
  --active-color: rgb(67, 170, 248);
  --active-color-rgb: 67, 170, 248;

  width: 50px;
  height: 25px;
}

.numberInput {
  font-size: 0.75rem;
  text-align: center;
  padding: 4px 6px 2px 6px;
  width: 100%;

  &::selection {
    background-color: rgb(63, 166, 245);
    color: white;
  }
}
