# temporarily
# engine-strict=true
# project config
scope=tremolo-ui
init-author-email=contact.m1m0zzzz@gmail.com
init-author-name=mimoz
init-author-url=https://m1m0zzz.github.io/
init-license= UNLICENSED
init-version=0.0.0
