.tremolo_ui_slider {
  display: inline-block;
  height: 2rem;
  font: inherit;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  outline-color: transparent;
  outline-style: solid;
  outline-width: 1px;
  background: inherit;
  appearance: none;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  border-radius: 4px;

  &:hover {
    outline-color: #bbb;
  }

  &:focus {
    outline-color:#4e76e6;
    outline-width: 2;
  }
}
