.adsr {
  --container-height: 200px;
  --knobs-height: 78px;
  --gap: 8px;

  display: inline-flex;
  flex-direction: column;
  height: var(--container-height);
  gap: var(--gap);
}

.canvas {
  /* width: max-content; */
  height: calc(var(--container-height) - var(--knobs-height) - var(--gap));
}

.knobs {
  display: flex;
  width: min-content;
  gap: 0.75rem;
}

.knobAndLabel {
  display: flex;
  flex-direction: column;
  height: var(--knobs-height);
  justify-content: space-between;
  align-items: center;
}

.label {
  width: 52px;
  text-align: center;
  font-size: 0.75rem;
}
