.tremolo-xy-pad {
  display: inline-block;
  cursor: pointer;
}

.tremolo-xy-pad-thumb-wrapper {
  position: absolute;
  translate: -50% -50%;
  z-index: 100;
}

.tremolo-xy-pad-thumb {
  border-radius: 50%;
  outline: none;
  background-color: #4e76e6;

  &[aria-disabled='true'] {
    background-color: #5d6478;
  }

  &:focus {
    box-shadow: 0px 0px 0px 3px
      color-mix(in srgb, var(--tremolo-theme-color) 20%, transparent);
  }
}
