.tremolo-slider {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  -webkit-tap-highlight-color: transparent;

  &[aria-readonly='true'] {
    cursor: not-allowed;
  }
}

.tremolo-slider-thumb-wrapper {
  position: absolute;
  translate: -50% -50%;
  z-index: 100;
}

.tremolo-slider-thumb {
  --color: oklch(59.5% 0.17548 266.373);

  background: var(--color);
  border-radius: 50%;
  outline: none;

  &[aria-disabled='true'] {
    background: oklch(50.462% 0.03307 270.021);
  }

  &[aria-readonly='false']:focus {
    box-shadow: 0px 0px 0px 3px
      color-mix(in srgb, var(--color) 20%, transparent);
  }
}

.tremolo-slider-track {
  --active: oklch(69.212% 0.12903 267.633);
  --inactive: oklch(95% 0 0);

  position: relative;

  &[data-vertical='false'] {
    min-width: 50px;
  }

  &[data-vertical='true'] {
    min-height: 50px;
  }

  &:hover {
    --active: oklch(64.276% 0.15244 266.932);
    --inactive: #e0e0e0;
  }

  &[aria-disabled='true'] {
    --active: oklch(75.327% 0.01237 264.547);
    --inactive: oklch(89.755% 0.0001 271.152);
  }
}

.tremolo-slider-scale {
  display: block;
  position: relative;
}

.tremolo-slider-scale-option {
  display: flex;
  color: oklch(25.197% 0.00003 271.152);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  translate: -50% 0;
  z-index: 10;

  &[data-vertical='true'] {
    flex-direction: row;
    translate: 0 -50%;
  }
}

.tremolo-slider-scale-option-mark {
  background-color: currentColor;
}

.tremolo-slider-scale-option-label {
  text-align: right;
}

:where(.dark, [data-theme='dark']) {
  .tremolo-slider-thumb {
    --color: oklch(64.5% 0.17548 266.373);

    &:hover {
      --color: oklch(67.5% 0.17548 266.373);
    }
  }

  .tremolo-slider-track {
    --active: oklch(59.5% 0.17548 266.373);
    --inactive: oklch(41.7% 0 0);

    &:hover {
      --active: oklch(62.5% 0.17548 266.373);
      --inactive: oklch(44.7% 0 0);
    }

    &[aria-disabled='true'] {
      --active: oklch(75.327% 0.01237 264.547);
      --inactive: oklch(89.755% 0.0001 271.152);
    }
  }
}
