.tremolo-piano {
  display: inline-block;
  box-sizing: border-box;
  user-select: none;
  touch-action: none;
  position: relative;
}

.tremolo-piano-white-key {
  --bg: oklch(100% 0 0);
  --color: oklch(0% 0 0);
  --active-bg: oklch(90% 0 0);
  --active-color: oklch(0% 0 0);

  box-sizing: border-box;
  position: absolute;
  background-color: var(--bg);
  -webkit-tap-highlight-color: transparent;
  color: var(--color);
  border: 1px solid #555;
  border-radius: 0px 0px 8px 8px;
  cursor: pointer;
  z-index: 1;

  &[data-active='true'] {
    background-color: var(--active-bg);
    color: var(--active-color);
  }

  &[aria-disabled='true'] {
    cursor: not-allowed;
  }
}

.tremolo-piano-black-key {
  --color: oklch(100% 0 0);
  --bg: oklch(32.109% 0.00004 271.152);
  --active-color: oklch(100% 0 0);
  --active-bg: oklch(47.836% 0.00005 271.152);

  box-sizing: border-box;
  position: absolute;
  background-color: var(--bg);
  -webkit-tap-highlight-color: transparent;
  color: var(--color);
  border: 1px solid #555;
  border-radius: 0px 0px 8px 8px;
  cursor: pointer;
  z-index: 2;

  &[data-active='true'] {
    background-color: var(--active-bg);
    color: var(--active-color);
  }

  &[aria-disabled='true'] {
    cursor: not-allowed;
  }
}

.tremolo-piano-key-label-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
}

.tremolo-piano-key-label {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  height: 10px;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #888;
  aspect-ratio: 1;
  max-width: calc(100% - 16px);
}

:where(.dark, [data-theme='dark']) {
  .tremolo-piano-white-key {
    --bg: oklch(48.193% 0.00005 271.152);
    --color: oklch(100% 0 0);
    --active-bg: oklch(52.78% 0.00006 271.152);
    --active-color: oklch(100% 0 0);
  }

  .tremolo-piano-black-key {
    --color: oklch(100% 0 0);
    --bg: oklch(32.109% 0 0);
    --active-color: oklch(100% 0 0);
    --active-bg: oklch(38.666% 0.00004 271.152);
  }
}
