.tremolo-piano {
  display: inline-block;
  box-sizing: border-box;
  user-select: none;
  position: relative;
}

.tremolo-piano-white-key {
  --bg: white;
  --color: black;
  --active-bg: #ccc;
  --active-color: black;

  position: absolute;
  background-color: var(--bg);
  color: var(--color);
  border: 1px solid #555;
  border-radius: 0px 0px 8px 8px;
  cursor: pointer;
  z-index: 1;

  &[data-active='true'] {
    background-color: var(--active-bg);
    color: var(--active-color);
  }

  &[aria-disabled='true'] {
    cursor: not-allowed;
  }
}

.tremolo-piano-black-key {
  --color: white;
  --bg: #333;
  --active-color: white;
  --active-bg: #666;

  position: absolute;
  background-color: var(--bg);
  color: var(--color);
  border: 1px solid #555;
  border-radius: 0px 0px 8px 8px;
  cursor: pointer;
  z-index: 2;

  &[data-active='true'] {
    background-color: var(--active-bg);
    color: var(--active-color);
  }

  &[aria-disabled='true'] {
    cursor: not-allowed;
  }
}

.tremolo-piano-key-label-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
}

.tremolo-piano-key-label {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  height: 10px;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #888;
  aspect-ratio: 1;
  max-width: calc(100% - 16px);
}
