.tremolo-piano {
  display: inline-block;
  box-sizing: border-box;
  user-select: none;
  position: relative;
}

.tremolo-piano-white-key {
  position: absolute;
  background-color: white;
  color: black;
  border: 1px solid #555;
  border-radius: 0px 0px 8px 8px;
  cursor: pointer;
  z-index: 1;

  &[data-active='true'] {
    background-color: #ccc;
  }

  &[aria-disabled='true'] {
    cursor: not-allowed;
  }
}

.tremolo-piano-black-key {
  position: absolute;
  background-color: #333;
  color: white;
  border: 1px solid #555;
  border-radius: 0px 0px 8px 8px;
  cursor: pointer;
  z-index: 2;

  &[data-active='true'] {
    background-color: #666;
  }

  &[aria-disabled='true'] {
    cursor: not-allowed;
  }
}

.tremolo-piano-key-label-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
}

.tremolo-piano-key-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  height: 10px;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #888;
  aspect-ratio: 1;
  max-width: calc(100% - 16px);
}
