.knob {
  &:focus,
  &:hover {
    > .activeLine {
      color: red;
    }
  }
}

.activeLine {
  color: rgb(235, 76, 76);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
