.tremolo-points-editor {
  position: relative;
}

.tremolo-points-editor-background {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.tremolo-points-editor-container {
  position: absolute;
  inset: 0;
  z-index: 10;
}

.tremolo-points-editor-point {
  --color: oklch(59.5% 0.17548 266.373);

  position: absolute;
  border-radius: 50%;
  outline: none;
  cursor: grab;
  background-color: var(--color);
  translate: -50% -50%;

  &[data-dragging='true'] {
    cursor: inherit;
  }

  &[aria-disabled='true'] {
    background-color: oklch(50.462% 0.03307 270.021);
  }

  &[aria-readonly='true'] {
    cursor: default;
  }

  &[aria-readonly='false']:focus {
    box-shadow: 0px 0px 0px 3px
      color-mix(in srgb, var(--color) 20%, transparent);
  }
}
