.root {
  color: #eee;
  background-color: #333;
  padding: 1.5rem;
}

.flex {
  width: min-content;
  display: flex;
  flex-direction: column;
}

.adsr {
  width: fit-content;
  padding: 8px;
  border: #34c2ed solid 1px;
}

.point {
  border-radius: 1000px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointInner {
  --color: #ffa500;

  width: 4px;
  height: 4px;

  border-radius: 0;
  background-color: transparent;
  border: var(--color) solid 2px;
}

.point:hover .pointInner,
.point[data-dragging='true'] .pointInner {
  --color: white;
}

.point:focus .pointInner {
  background-color: var(--color);
}

.subPointInner {
  width: 2px;
  height: 2px;
  border-radius: 1000px;
}

.meters {
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4px 8px;
}

.title {
  color: #888;
}

.input {
  padding: 0;
  width: 100%;
  min-width: 0;
}

.inputWrapper {
  width: 100%;
}

.slopeMeters {
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px 8px;
}
