.tremolo-knob {
  display: inline-block;
  cursor: grab;
  overflow: visible;
  outline: 0;

  &[aria-readonly='true'] {
    cursor: not-allowed;
  }

  &[data-dragging='true'] {
    cursor: inherit;
  }
}

.tremolo-knob-active-line {
  overflow: visible;
  color: oklch(69.2% 0.17548 266.373);

  :where(.tremolo-knob:focus, .tremolo-knob:hover) & {
    color: oklch(59.5% 0.17548 266.373);
  }

  :where(.tremolo-knob[aria-disabled='true']) & {
    color: oklch(50.5% 0.03307 270.021);
  }
}

.tremolo-knob-inactive-line {
  color: oklch(95% 0 0);

  :where(.tremolo-knob:focus, .tremolo-knob:hover) & {
    color: oklch(90% 0 0);
  }
}

.tremolo-knob-thumb {
  color: oklch(85.7% 0 0);

  :where(.tremolo-knob:focus, .tremolo-knob:hover) & {
    color: oklch(84.5% 0 0);
  }
}

.tremolo-knob-thumb-line {
  color: oklch(94.2% 0 0);
}

:where(.dark, [data-theme='dark']) {
  .tremolo-knob-active-line {
    color: oklch(59.5% 0.17548 266.373);

    :where(.tremolo-knob:focus, .tremolo-knob:hover) & {
      color: oklch(65.2% 0.17548 266.373);
    }
  }

  .tremolo-knob-inactive-line {
    color: oklch(41.7% 0 0);

    :where(.tremolo-knob:focus, .tremolo-knob:hover) & {
      color: oklch(44.59% 0 0);
    }
  }

  .tremolo-knob-thumb {
    color: oklch(48.6% 0 0);

    :where(.tremolo-knob:focus, .tremolo-knob:hover) & {
      color: oklch(51.7% 0 0);
    }
  }

  .tremolo-knob-thumb-line {
    color: oklch(84.2% 0 0);
  }
}
