/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6543df;
  --ifm-color-primary-dark: #512adb;
  --ifm-color-primary-darker: #4a24d3;
  --ifm-color-primary-darkest: #3d1ead;
  --ifm-color-primary-light: #795ce3;
  --ifm-color-primary-lighter: #8368e5;
  --ifm-color-primary-lightest: #a28dec;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b2a5e4;
  --ifm-color-primary-dark: #9887db;
  --ifm-color-primary-darker: #8b78d6;
  --ifm-color-primary-darkest: #644ac9;
  --ifm-color-primary-light: #ccc3ed;
  --ifm-color-primary-lighter: #d9d2f2;
  --ifm-color-primary-lightest: #ffffff;
}
